<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My Video App</title>
    <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.0.0/picnic.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/picnicss/6.0.0/plugins.min.css" type="text/css" media="all">

    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </head>
  <body>
    <nav class="demo">
      <a href="#" class="brand">
        <!-- <img class="logo" src="/web/img/basket.png" /> -->
        <span>Video.js Demo</span>
      </a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">menu</label>

      <div class="menu">
        <a href="#" class="pseudo button icon-picture">Demo</a>
        <a href="#" class="button icon-puzzle">Plugins</a>
      </div>
    </nav>
    <div style="padding: 80px;">
      <div class="flex demo">
        <div>
          <p>m3u8 secure_link: {{ secure_link }}</p>
        </div>
        <div>
          <video id=example-video width=600 height=300 class="video-js vjs-default-skin" controls>
            <source
               src="http://localhost:9001/justcrusin.m3u8"
               type="application/x-mpegURL">
          </video>
        </div>
        <div>
          <p>Video id: {{ video_id }}</p>
        </div>
      </div>
    </div>

    <script src="/static/js/video.js"></script>
    <script src="/static/js/videojs-contrib-hls.js" type="text/javascript" charset="utf-8"></script>

    <script>
      var player = videojs('example-video');
      player.play();
    </script>
  </body>
</html>
