server {
	listen       80;
  server_name {% if ansible_hostname == 'nvw-stream01' %}
                ss1.ckcdn.com sss.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream02' %}
                ss2.ckcdn.com sss.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream03' %}
                ss3.ckcdn.com sss.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream04' %}
                ss4.ckcdn.com sss.ckcdn.com;
							{% elif ansible_hostname == 'nvw-stream05' %}
	              ss5.ckcdn.com sss.ckcdn.com;
              {% endif %}

location /ads { alias /mnt/stream/ads; }

	location /static {
		alias /mnt/stream/apen;

		location ~* \.(m3u8|mpd)$ {
			if ($request_method = 'OPTIONS') {
				add_header 'Access-Control-Allow-Origin' '*';
	     }
			 if ($request_method = 'GET') {
	 			add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;

	      }
			secure_link $arg_md5,$arg_expires;
			secure_link_md5 "$secure_link_expires$uri$remote_addr tinaisonfire";

			#set $volume apen-video;
      #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;

			if ($secure_link = "") {
				return 403;
			}

			if ($secure_link = "0") {
				return 410;
			}
		}

# Media: images, icons, video, audio, HTC
		location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz)$ {
			if ($request_method = 'OPTIONS') {
				add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;
				return 204;
			 }
			 if ($request_method = 'GET') {
	 			add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;

	      }
                        expires 1M;
                        #access_log off;
                        add_header Cache-Control "public";

			                  #set $volume apen-img;
			                  #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;
                        # proxy_pass http://myapp1;


		}

		location ~* \.(?:|mp4|ogg|ogv|webm|htc|m4s|ts|m4f)$ {
			if ($request_method = 'OPTIONS') {
				add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;
				return 204;
			 }
			 if ($request_method = 'GET') {
	 			add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;

	      }
                        expires 1M;
                        #access_log off;
                        add_header Cache-Control "public";

                        #set $volume apen-video;
                        #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;
                        # proxy_pass http://myapp1;


                }

	}



#error_page  404              /404.html;

# redirect server error pages to the static page /50x.html
#
	error_page   500 502 503 504  /50x.html;
	location = /50x.html {
		root   /usr/share/nginx/html;
	}

# proxy the PHP scripts to Apache listening on 127.0.0.1:80
#
#location ~ \.php$ {
#    proxy_pass   http://127.0.0.1;
#}

# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
#
#location ~ \.php$ {
#    root           html;
#    fastcgi_pass   127.0.0.1:9000;
#    fastcgi_index  index.php;
#    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
#    include        fastcgi_params;
#}

# deny access to .htaccess files, if Apache's document root
# concurs with nginx's one
#
#location ~ /\.ht {
#    deny  all;
#}
}
