server {
	listen       80;
	server_name  {% if ansible_hostname == 'nvw-stream01' %}
                s1.ch.ckcdn.com sss.ch.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream02' %}
                s1.ch.ckdcn.com s2.ch.ckcdn.com sss.ch.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream03' %}
                s1.ch.ckdcn.com s3.ch.ckcdn.com sss.ch.ckcdn.com;
              {% elif ansible_hostname == 'nvw-stream04' %}
                s1.ch.ckdcn.com s4.ch.ckcdn.com sss.ch.ckcdn.com;
							{% elif ansible_hostname == 'nvw-stream05' %}
	              s1.ch.ckdcn.com s5.ch.ckcdn.com sss.ch.ckcdn.com;
              {% endif %}
							
	location /static {
		alias /mnt/stream/tv_channel;
		location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz)$ {
						            expires 1M;
                        access_log /var/log/nginx/cktv.ckcdn.com.log custom;
                        add_header Cache-Control "public";

			#set $volume tv_channel-img;
      #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;

		}

		location ~* \.(m3u8|mpd)$ {
			if ($request_method = 'OPTIONS') {
				add_header 'Access-Control-Allow-Origin' '*';
				return 403;
	     }
			 if ($request_method = 'GET') {
	 			add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;

	      }
			secure_link $arg_md5,$arg_expires;
			secure_link_md5 "$secure_link_expires$uri$remote_addr tinaisonfire";
			access_log /var/log/nginx/secure_cktv.ckcdn.com.log custom;

			#set $volume tv_channel-video;
      #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;

			if ($secure_link = "") {
				return 403;
			}

			if ($secure_link = "0") {
				return 410;
			}
		}
		location ~* \.(?:|mp4|ogg|ogv|webm|htc|m4s|ts|m4f)$ {
			if ($request_method = 'OPTIONS') {
				add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;
				return 204;
			 }
			 if ($request_method = 'GET') {
	 			add_header 'Access-Control-Allow-Origin' '*'; add_header 'Access-Control-Allow-Headers' Range;

	      }
                        expires 1M;
                        #access_log off;
                        add_header Cache-Control "public";

                        #set $volume tv_channel-video;
                        #vhost_traffic_status_filter_by_set_key $volume storage::$server_name;
                        # proxy_pass http://myapp1;


                }
	}




	error_page   500 502 503 504  /50x.html;
	location = /50x.html {
		root   /usr/share/nginx/html;
	}



}
