{% if ansible_hostname == 'nvw-stream01' %}
UserParameter=ss1.requestCounter, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com requestCounter
UserParameter=ss1.inBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com inBytes
UserParameter=ss1.outBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com outBytes
UserParameter=ss1.1xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com 1xx
UserParameter=ss1.2xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com 2xx
UserParameter=ss1.3xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com 3xx
UserParameter=ss1.4xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com 4xx
UserParameter=ss1.5xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss1.ckcdn.com 5xx
{% endif %}
{% if ansible_hostname == 'nvw-stream02' %}
UserParameter=ss2.requestCounter, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com requestCounter
UserParameter=ss2.inBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com inBytes
UserParameter=ss2.outBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com outBytes
UserParameter=ss2.1xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com 1xx
UserParameter=ss2.2xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com 2xx
UserParameter=ss2.3xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com 3xx
UserParameter=ss2.4xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com 4xx
UserParameter=ss2.5xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss2.ckcdn.com 5xx
{% endif %}
{% if ansible_hostname == 'nvw-stream03' %}
UserParameter=ss3.requestCounter, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com requestCounter
UserParameter=ss3.inBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com inBytes
UserParameter=ss3.outBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com outBytes
UserParameter=ss3.1xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com 1xx
UserParameter=ss3.2xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com 2xx
UserParameter=ss3.3xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com 3xx
UserParameter=ss3.4xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com 4xx
UserParameter=ss3.5xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py ss3.ckcdn.com 5xx
{% endif %}

UserParameter=tv.requestCounter, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com requestCounter
UserParameter=tv.inBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com inBytes
UserParameter=tv.outBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com outBytes
UserParameter=tv.1xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com 1xx
UserParameter=tv.2xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com 2xx
UserParameter=tv.3xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com 3xx
UserParameter=tv.4xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com 4xx
UserParameter=tv.5xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.tv.ckcdn.com 5xx

UserParameter=av.requestCounter, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com requestCounter
UserParameter=av.inBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com inBytes
UserParameter=av.outBytes, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com outBytes
UserParameter=av.1xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com 1xx
UserParameter=av.2xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com 2xx
UserParameter=av.3xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com 3xx
UserParameter=av.4xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com 4xx
UserParameter=av.5xx, /home/gluster/.pyenv/versions/2.7.9/bin/python /var/lib/zabbix/scripts/nginx-vhosts.py s1.av.ckcdn.com 5xx
