from kombu import Exchange, Queue

#CELERYD_PREFETCH_MULTIPLIER = 50
CELERY_REDIRECT_STDOUTS_LEVEL = 'debug'
CELERY_RESULT_BACKEND = 'redis://{{ broker_ip }}/'
BROKER_URL = "apmq://{{rabbitmq_app_user}}:{{rabbitmq_app_pass}}@{{broker_ip}}/{{rabbitmq_app_vhost}}"
CELERY_IMPORTS = ('box_monitor.tasks')


CELERY_QUEUES=(
	Queue('default', Exchange('default'), routing_key='default'),
	Queue('containizer', Exchange('containizer'), routing_key='containizer'),
	Queue('transcoder', Exchange('transcoder'), routing_key='transcoder')
	)


CELERY_ROUTES = (
    {'box_monitor.tasks.box_event_listener': {'queue': 'default', 'routing_key': 'default' }},
    {'box_monitor.tasks.download_cover': {'queue': 'default', 'routing_key': 'default' }},
    {'box_monitor.tasks.thumbnail_process': {'queue': 'default', 'routing_key': 'default'}},
    {'box_monitor.tasks.auto_onshelf': {'queue': 'default', 'routing_key': 'default'}},
    {'box_monitor.tasks.rm_temp_file': {'queue': 'default', 'routing_key': 'default'}},
    {'box_monitor.tasks.check_dir': {'queue': 'default', 'routing_key': 'default'}},
    {'box_monitor.tasks.downloader': {'queue': 'default', 'routing_key': 'default'}},
    {'box_monitor.tasks.file_meta_finder': {'queue': 'default', 'routing_key': 'default'}},

	  {'box_monitor.tasks.transcoder': {'queue': 'transcoder', 'routing_key': 'transcoder'}},
	  {'box_monitor.tasks.local_transcode': {'queue': 'transcoder', 'routing_key': 'transcoder'}},

	  {'box_monitor.tasks.mp42dash': {'queue': 'containizer', 'routing_key': 'containizer'}}
	)
