<?php

$proxy = '127.0.0.1';
#$proxy = '192.168.1.254';

//日誌文件
$logFile = BASEPATH.'log';
//video file 中轉站信息
$baseServerInfo = array('fixCoverDir' => '', 'outip' => '', 'uploadsDir' => '', 'noneInfoDir' => '', 'errorUploadsDir' => '');
$storageServer = array();
//圖片封面後綴類型列表
$coverTypeList = array('b');

// av videl allow status array   1 正常 44 臨時下架 66 下架
$allowAvStatus = array(1, 44, 66);

//server rsync dir rsync file jason@192.168.1.244:/home/jason/html/
$serverRsyncDir =' root@%s:%s ';

$fanhaoPattern = array(
'fanhao' => '#<tr>\s+<td class="label">番號</td>\s+<td>(.+)</td>\s+</tr>#Uis',
'title' => '#<tr>\s+<td class="label">作品名稱</td>\s+<td>(.+)</td>\s+</tr>#Uis',
'publisher' => '#<tr>\s+<td class="label">發行商</td>\s+<td>(.+)</td>\s+</tr>#Uis',
'peoples' => '#<tr>\s+<td class="label">演員</td>\s+<td class="peoples">(.+)</td>\s+</tr>#Uis',
'intro' => '#<tr>\s+<td colspan="2" class="desc">(.+)</td>\s+</tr>#Uis'
);

//是不是上下兩級
$isAbKey = 0;

//videoinfo
$avdata = array(
  'title' => '',
  'avkey' => '',
  'avkeys' => '',
  'bkey' => '',
  'description' => '',
  'createtime' => "2088-01-21",
  'tags' => '',
  'ismp4' => "1",
  'isrecommended' => "0",
  'isessence' => "0",
  'istop' => "0",
  'ismasked' => "1",
  'serverid' => "136-194-2",
  'cid' => 0
);
